@* Used in Footer Widget *@

@{
    var twitterHandle = "@TheCBCA";
}


<div class="cbca-connect">
    <a href="http://www.facebook.com/theCBCA" class="btn-header" title="Facebook" target="_blank">
        <img src="~/themes/cbca/Content/Images/facebook.png" />
    </a>
    <a href="https://twitter.com/TheCBCA" class="btn-header" title="Twitter @twitterHandle" target="_blank">
        <img src="~/themes/cbca/Content/Images/twitter.png" />
    </a>
    @*<a href="http://www.instagram.com/theCBCA" class="btn-header" title="Instagram" target="_blank">
        <img src="~/themes/cbca/Content/Images/CBCA-INSTAGRAM.png" />
    </a>*@
</div>


