@* Used in Header Widget *@
@{
    var twitterHandle = "@TheCBCA";
}

<div class="container">
    <div class="row no-gutter">
        <div class="col-sm-3">
            <a href="/"><img class="img-responsive" src="/Themes/cbca_national/Content/CBCA_full logo_blue_tagline_532x318.png" alt="CBCA logo" /></a>
        </div>
        <div class="col-sm-5">
            <img class="croc pull-right img-responsive" src="~/Themes/cbca/Content/Images/CROC IMAGE.png" />
        </div>
        <div class="col-sm-4">
            <div class="row no-gutter cbca-header">
                <div class="col-sm-12 search-inline">
                    <div class="form-field-element form-field-element-text-field form-field-element-q">
                        <input class="text" name="q" type="text" value="">
                    </div>
                    <input type="image" border="0" alt="submit" src="~/themes/cbca/Content/Images/SEARCH.png" />
                </div>
                <div class="col-sm-12 social-block">
                    <a href="http://www.facebook.com/theCBCA" class="btn-header" title="Facebook"  target="_blank">
                        <img src="~/themes/cbca/Content/Images/facebook.png" />
                    </a>
                    <a href="https://twitter.com/TheCBCA" class="btn-header" title="Twitter @twitterHandle" target="_blank">
                        <img src="~/themes/cbca/Content/Images/twitter.png" />
                    </a>
                    @*<a href="http://www.instagram.com/theCBCA" class="btn-header" title="Instagram" target="_blank">
                        <img src="~/themes/cbca/Content/Images/CBCA-INSTAGRAM.png" style="width:44px; height:44px;" />
                    </a>*@
                    <a href="~/contact-us" class="btn-header" title="Email">
                        <img src="~/themes/cbca/Content/Images/email.png" />
                    </a>
                    <a href="http://dev.cbca.org.au/rss?containerid=96" class="btn-header" title="RSS" target="_blank">
                        <img src="~/themes/cbca/Content/Images/rss.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

