@* This override of the MenuItemLinkdd template omits the down arrow in an effort to make the menu more compact *@
<a class="dropdown-toggle" data-toggle="dropdown" href="@Model.Href">@Model.Text </a>