@* Used in Header Widget *@

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <a href="/" ><img src="/Themes/cbca_national/Content/CBCA_full-logo_blue_tagline.png" alt="CBCA logo" /></a>
            @*<h1>The Children's Book Council of Australia</h1>*@
        </div>
        <div class="col-md-4">
            <div class="row cbca-header">
                <div class="col-sm-6 col-md-12 search-inline">
                    <div class="form-field-element form-field-element-text-field form-field-element-q">
                        <input class="text" name="q" type="text" value="">
                    </div>
                    <button class="btn-header" type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-sm-6 col-md-12 social-block">
                    <a href="#" class="btn-header" title="Facebook"> <i class="fa fa-facebook"></i> </a>
                    <a href="#" class="btn-header" title="Twitter"> <i class="fa fa-twitter"></i> </a>
                    <a href="#" class="btn-header" title="Email"> <i class="fa fa-envelope"></i> </a>
                    @*<a href="#" class="btn-header" title="Google Plus"> <i class="fa fa-google-plus"></i> </a>
                    <a href="#" class="btn-header" title="LinkedIn"> <i class="fa fa-linkedin"></i> </a>*@
                    <a href="#" class="btn-header" title="RSS"> <i class="fa fa-rss"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>
