@using Orchard.ContentManagement
@using Orchard.Fields.Fields
@using Orchard.MediaLibrary.Fields
@using Orchard.Taxonomies.Fields

@using (Script.Foot())
{
    <script type="text/javascript">
        // NOTES:
        //  1. jQuery must be enabled for this to work
        //  2. Yout must add id='putThisInAContainer' to some element in this template
        $("#putThisInAContainer").closest(".zone").addClass("container");
    </script>
}


<div class='shortlist' id="putThisInAContainer">

    <div class='row'>

        @{
            var books = ((IEnumerable<dynamic>)Model.ContentItems).ToList();

            foreach (var book in books)
            {
                var bookPart = book.BookPart;
                var author = (bookPart.AuthorFirstName.Value + " " + bookPart.AuthorLastName.Value).Trim();
                var illustrator = (bookPart.IllustratorFirstName.Value + " " + bookPart.IllustratorLastName.Value).Trim();
                var byLine = "";
                if (String.IsNullOrWhiteSpace(author) || String.IsNullOrWhiteSpace(illustrator))
                {
                    // only one
                    if(String.IsNullOrWhiteSpace(author)){
                        byLine = illustrator;
                    }
                    else{
                        byLine = author;
                    }
                }
                else // both
                {
                    if (bookPart.Category.Value == "Picture Book")
                    {
                        byLine = illustrator + " (text: " + author + ")";
                    }
                    else
                    {
                        byLine = author + " (illust: " + author + ")";
                    }
                }

                //var author = book.BookPart.Author.Value;
                //var illustrator = book.BookPart.Illustrator.Value;
                //var byLine = author;
                //if (String.IsNullOrEmpty(byLine))
                //{
                //    byLine = illustrator;
                //}
                //else if (!String.IsNullOrEmpty(illustrator))
                //{
                //    byLine += " and " + illustrator;
                //}

                //var summary = book.BookPart.Summary.Value;
                var imageUrl = bookPart.CoverImage == null ? "" : book.BookPart.CoverImage.FirstMediaUrl;
                var title = book.TitlePart.Title;
                var isbn = bookPart.ISBN.Value;
                var awardsYear = bookPart.AwardsYear.Value;
                // can be > 1 Category
                var category = bookPart.Category.Value;
                // can only be one publisher but this will work no matter what
                string publisher = "";
                var terms = bookPart.Publisher.Terms;
                if (terms != null && terms.Count > 0)
                {
                    publisher = terms[0].Name;
                }

                //---------------------------------------------------------------------------

                <div class='book-detail col-lg-6'>
                    <table class="table table-condensed">
                        <tr>
                            <td class="image">
                                <img src="@imageUrl" />
                            </td>
                            <td class="detail">
                                <div class="title">
                                    @title
                                </div>
                                <div class="byLine">
                                    @byLine
                                </div>
                                <div class="publisher">
                                    @publisher
                                </div>
                                <div class="isbn">
                                    ISBN: @isbn
                                </div>
                                @*<div class="summary">
                                        @summary
                                    </div>*@
                            </td>
                        </tr>
                    </table>
                            </div>
            }
        }
                        </div>
                        </div>
