@using Orchard.ContentManagement
@using (Script.Foot())
{
    <script type="text/javascript">
        // NOTES:
        //  1. jQuery must be enabled for this to work
        //  2. You must add id='putThisInAContainer' to some element in this template
        var startElement = $("#putThisInAContainer");
        if (startElement.parents(".container").length == 0) {
            startElement.closest(".zone").addClass("container");
        }
    </script>
}

@{
    DateTime startTime = DateTime.Now;
    var cm = WorkContext.Resolve<IContentManager>();
}

<div id="putThisInAContainer" class="row">
        @foreach (var contentItem in Model.ContentItems)
        {
            <div class="col-lg-4 col-sm-6" >
                @Display(cm.BuildDisplay(contentItem, "Summary"))
            </div>
        }
    <div class="duration">@((DateTime.Now - startTime).TotalSeconds)</div>
</div>
