<hr />
<p>
    For details of upcoming workshops and other events please subscribe to the email list:&nbsp;<a href="http://eepurl.com/SJuyH"> Subscribe </a><br />
    &#169; Copyright 2013 Clayton Tremlett. All rights reserved.<br />
    Built by <a href="http://cascadepixels.com.au" target="_blank">Cascade Pixels</a>&nbsp;
</p>
