@{
    Script.Require("BlurbWidget"); 
    Style.Require("BlurbWidget");
}

@*Content for the following div is provided via ajax*@
<div class="blurb-widget" data-url='@Url.Content("~/cascade.blurb/blurbwidget/getitems")'>
</div>
