<div class="credits">
    <div class="pull-left"><span class="poweredby">&copy; @DateTime.Now.Year Safetec</span></div>
    <div class="pull-right">developed and supported by <a href="http://objectmedia.com.au" target="_blank">Object Media</a></div>
</div>