    <a href="@Href("~/")" class="navbar-brand"><img class="navbar-logo" src="/Media/Default/Logo/haaa-logo.png" alt="HAAA Logo" /></a>

@*<a href="@Href("~/")" class="navbar-brand">@WorkContext.CurrentSite.SiteName</a> original *@
